<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js" integrity="sha256-rmZZb5ESAjCE4Al5RfENzQBpw1VbShzLes76aW8c+kc=" crossorigin="anonymous"></script>
<script>
  $(function() {
    var defaultData = [
      {% for cat in categories %}
      {
        text: '{{ cat.name }}',
        href: '{% url "latest-effects-by-category" cat.pk %}',
        state: {
          expanded: true,
          {% if cat == category or current_effect.category.parent == cat %}selected: true, expanded: true{% endif %}
        },
        nodes: [
          {% for sub in cat.subcategories.all %}
          {
            text: '{{ sub.name }}',
            href: '{% url "latest-effects-by-category" sub.pk %}',
            state: {
              {% if sub == category %}selected: true, expanded: true{% endif %}
            },
            {% if sub == category %}
            nodes: [
              {% for effect in sub.effects.all %}
                {
                  text: '{{ effect.name }}',
                  href: '{% url "effect-detail" slug=effect.slug %}',
                  icon: 'fa fa-file-o',
                  selectedIcon: 'fa fa-file-o',
                  state: {
                    {% if effect == current_effect %}selected: true{% endif %}
                  }
                },
              {% endfor %}
            ]
            {% endif %}
          },
          {% endfor %}
          {% for effect in cat.effects.all %}
            {
              text: '{{ effect.name }}',
              href: '{% url "effect-detail" slug=effect.slug %}',
              icon: 'fa fa-file-o',
              selectedIcon: 'fa fa-file-o',
              state: {
                {% if effect == current_effect %}selected: true{% endif %}
              }
            },
          {% endfor %}
        ]
      },
      {% endfor %}
    ];

    $('.effects-tree').treeview({
      collapseIcon: "fa fa-angle-down",
      data: defaultData,
      expandIcon: "fa fa-angle-right",
      nodeIcon: "fa fa-folder",
      selectedIcon: "fa pficon-folder-open",
      selectedColor: "#0088ce !important",
      onhoverColor: "#dadada !important",
      showBorder: false,
      onNodeSelected: function(event, data) {
        window.location = data.href;
      }
    });
  })
</script>
