{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h2>Effects
  {% if search %}&raquo; Search: {{ search.q }}{% endif %}
  {% if category %}
    {% if category.parent %}
      &raquo; {{ category.parent.name }}
    {% endif %}
    &raquo; {{ category.name }}
  {% endif %}
</h2>

<div class="row-fluid">

  <div class="col-md-2">
    <div class="effects-tree"></div>
  </div>
  <div class="col-md-10">
    {% if search.q and not object_list.count %}

      <div class="blank-slate-pf">
        <div class="blank-slate-pf-icon">
          <span class="pficon pficon pficon-search"></span>
        </div>
        <h1>No Results Found</h1>
        <div class="blank-slate-pf-main-action">
          <a class="btn btn-primary btn-lg" href="/">Go to home page</a>
        </div>
        <div class="blank-slate-pf-secondary-action">
          <a class="btn btn-primary" href="{% url "latest-effects" %}">Effects</a>
          <a class="btn btn-primary" href="">Tools</a>
          <a class="btn btn-primary" href=""> Tutorials</a>
        </div>
      </div>

    {% else %}

      <div class="cards-effect">
        {% for obj in object_list %}
        {% include "catalog/effect_list_item.html" with object=obj %}
        {% endfor %}
      </div>

    {% endif %}
  </div>

{% endblock %}

{% block foot %}
  {% include "catalog/effect_browser.html" with categories=categories category=category effects=effects%}
{% endblock %}
