{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<h2>
  <a href="{% url "latest-effects" %}">Effects</a>

  {% if object.category %}
    {% if object.category.parent %}
      &raquo; <a href="{% url "latest-effects-by-category" object.category.parent.pk %}">{{ object.category.parent.name }}</a>
    {% endif %}
    &raquo; <a href="{% url "latest-effects-by-category" object.category.pk %}">{{ object.category.name }}</a>
  {% endif %}

  &raquo; {{ object.name }}
</h2>

<div class="row-fluid">

  <div class="col-md-2">
    <div class="effects-tree"></div>
  </div>
  <div class="col-md-10">

    <div class="container-fluid text-center">
      <a href="{% url "effect-detail" slug=object.slug %}">
        {% if object.cover_image %}
          <img id="mainimg" class="card-img-top" src="{{ object.cover_image.url }}" />
        {% else %}
          <img class="card-img-top" src="{% static "img/no-photo.png" %}" />
        {% endif %}
      </a>
    </div>

    <hr />

    {% with object.latest_version as version %}
      <div class="card-pf card-pf-view pull-right" style="width: 250px">
        <div class="card-pf-body">
          <div class="card-pf-top-element text-center">
            {{ object.name }}
          </div>

          <strong>Author(s):</strong> <br />
          <strong>Release date: </strong> {{ version.release_date|default:"-" }}<br />
          <strong>Creation date: </strong> {{ object.creation_date|default:"-" }}<br />
          <strong>License: </strong> {{ object.license|default:"unknown" }}<br />

          <hr />

          <form method="post" action="{% url "effect-download" slug=object.slug %}">
            {% csrf_token %}
            <button class="btn btn-primary btn-block" type="submit" id="download" {% if not version %}disabled{% endif %}><i class="fa fa-download"></i> Download</button>
          </form>

        </div>
      </div>
    {% endwith %}

    <div class="description">
      {{ object.description|linebreaks }}
    </div>

    {% if object.has_gallery %}
      <hr class="my-sm-5" />

      <div id="gallery">
        {% for img in object.image_links %}
          <a href="#mainimg"><img src="{{ img.url }}" class="border border-white img-thumbnail rounded" /></a>
        {% endfor %}
      </div>
    {% endif %}

    {% with object.video_links as videos %}
    {% if videos %}
        <hr class="my-sm-5" />
        <h3 class="h5">Examples</h3>
        {% for video in videos %}
        <video width="640" height="360" controls preload="auto">
            <source src="{{ video.url }}" type="{{ video.media_type }}" />
        </video>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% with object.other_links as others %}
    {% if others %}
      <hr class="my-sm-5" />
      <h3 class="h5">Additional resources</h3>
      <ul>
        {% for link in others %}
        <li><a href="{{ link.url }}">{{ link.url }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
  </div>
</div>
{% endblock %}

{% block foot %}
  {% include "catalog/effect_browser.html" with categories=toplevel_categories category=object.category current_effect=object %}

  <script type="text/javascript">
    $(document).ready(function() {
      var $mainimg = $('#mainimg');
      $('#gallery > a').click(function(ev) {
        var $tg = $(ev.target);
        $mainimg.attr('src', $tg.attr('src'));
        $('#gallery > a > img').removeClass('border-primary');
        $tg.addClass('border-primary');
        $tg.removeClass('border-white');
        //ev.preventDefault();
      });
    });
  </script>
{% endblock %}
