{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

  <h2>New Effects</h2>
  <div class="container-cards-pf cards-effect">
    {% for obj in latest_effects|slice:":8" %}
      {% include "catalog/effect_list_item.html" with object=obj %}
    {% endfor %}
  </div>
  <div class="row text-center">
    <a class="btn btn-primary btn-lg" href="{% url "latest-effects" %}">See all effects</a>
  </div>

  <h2>Tools</h2>
  <div class="container-cards-pf cards-effect">
    TODO
  </div>

  <h2>Tutorials</h2>
  <div class="container-cards-pf cards-effect">
    TODO
  </div>
</div>

{% endblock %}
